.startBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.heroImage {
  width: 100%;
  border-radius: 20px;
}

.section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.sectionList {
  font-weight: 400;
  font-size: 18px;
  list-style-type: disc;
  padding-left: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infoBlock {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 1440px) {
  .infoBlock {
    flex-direction: row;
  }
}
