.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #70bffe;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  color: #0a8df8;
}

.logoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondLogoPart {
  display: flex;
  align-items: center;
}
