.loadMoreBtn {
  padding: 14px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  background-color: #0a8df8;
  color: white;
  margin: 25px auto;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.loadMoreBtn:hover {
  background-color: #075ea4;
}
