.navlist {
  display: none;
}

@media screen and (min-width: 768px) {
  .navlist {
    display: flex;
    gap: 20px;
  }
}

.navlink {
  font-size: 24px;
  font-weight: 500;
  color: #70bffe;

  &:hover {
    color: lightblue;
  }
}
