.burgerMenu {
  position: absolute;
  right: 0;
  background-color: lightskyblue;
  z-index: 1001;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 380px) {
  .burgerMenu {
    width: 380px;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 28px;
  width: 28px;
}

.closeIcon {
  width: 100%;
  height: 100%;
}

.menuNavlist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 24px;
  color: lightcyan;
}
