/* reset styles */
*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* fonts */
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: local('Montserrat-Regular'), url('./assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('./assets/fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: local('Montserrat-Medium'), url('./assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('./assets/fonts/Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: local('Montserrat-SemiBold'), url('./assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('./assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

/* base styles */
body {
  background-color: lightblue;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.pageWrapper {
  padding: 20px 0;
}

.active {
  color: #0a8df8;
  font-weight: 600;
}

.title {
  font-weight: 600;
}

.text {
  font-weight: 400;
  font-size: 18px;
}
